<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>doubandiantai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA6E5BE01F0B2A8900FCBF18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA6E5BF41F0B2A8A00FCBF18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA6E5BFF1F0B2A8A00FCBF18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
